html, body {
  margin:auto;
 
 
  color:rgb(252, 255, 255);
  height: 90%;
  width: 90%;
/*Background */
  background-image: linear-gradient(black,#434343);
  background-position: center;
  background-attachment: fixed;
  font-size: small;
}

.App{

  border-image: auto;
  width:30rem;
  margin:auto;
  margin-top: 5rem;
  background-image: linear-gradient(#09203f , #537895);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  


  
  
  

  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.btn{
width: 8rem;
text-align: center;
margin:auto;

}


h1{
  
  font:100%;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  color:rgb(254, 255, 255);
  
}

.sign-up{
  text-align: center;
  
}

.forgot {
  color:white;
}

.radio{
  margin: auto;
  display: inline-block;
  text-align: center;
}


.form-floating{
  color: black;
  display: flex;
  justify-content: center;
  
  
  
  
}


.form-control{
  background-color: antiquewhite;
  width: 12rem;
  
}


.text-decoration-underline:hover {
 color: aqua;
}

.forgot:hover {
  color:aqua;
}

.h2{
  text-align: center;
  font-weight: bold;
}

.input post.placeholder{
  background-color: blue;
  font-style: italic;
}




